
<div>est il valide?: {{myForm.valid}}</div>
<div>est il invalide?: {{myForm.invalid}}</div>
<div>{{myForm.get('city').errors | json}}</div>

<form [formGroup]="myForm" (ngSubmit)="sendForm()">
  <label>
    City
    <input type="text" formControlName="city">
    <em *ngIf="myForm.get('city').invalid">
      le champ est obligatoire et doit faire moins de 5 lettres
    </em>
  </label>
  <label>
    Players Numbers
    <input type="number" formControlName="playersNumbers">
  </label>
  <label>
    <input type="checkbox" formControlName="stadium"> Stadium?
  </label>
  <button type="submit">envoyer</button>
</form>
