<h1>{{message}}</h1>
<h2 class="main">mon app</h2>
<app-menu1 [age]="age"></app-menu1>
<router-outlet></router-outlet>

<button (click)="createTeam()">envoyer</button>
<button (click)="deleteTeam()">delete</button>

<app-mood ></app-mood>
