<app-menu-logo></app-menu-logo>
<ul>
  Bonjour, {{sayHello().name | json}}
<ng-container *ngFor="let current of routes">
  <li  *ngIf="age> current.minimumAge">
    <a
      [routerLink]="current.url">
      {{current.name}}
    </a>
  </li>
</ng-container>
</ul>

